<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Gym</title>
    <link rel="stylesheet" href="/css/style.css">
</head>

<header>
    <h1>Gym</h1>
    <nav>
        <ul>
            <li><a href="/profile">Profile</a></li>
            <li><a href="/tiers">Tiers</a></li>
            <li><a id="logout" href="/logout">Logout</a></li>
        </ul>
    </nav>
</header>

<body>
    {{{body}}}
<script src="/js/logout.js"></script>
</body>
</html>