<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Signup</title>
    <link rel="stylesheet" href="style.css">
</head>


<body>

    <header>
        <h1>SIGNUP FOR GYM</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>

            </ul>
        </nav>
    </header>



    <main>
        <div class="signup-form">
            <form action="/signup" method="POST">
            <label for="username">Username</label>
            <input type="text"  id="username" name="username">


            <label for="password">Password</label>
            <input type="password" id="password" name="password">

            <label for="membership">Membership:</label>
            <select id="membership" name="membership">
                <option value="Bronze">Bronze</option>
                <option value="Silver">Silver</option>
                <option value="Gold">Gold</option>
            </select>

            <button type="submit">Signup!</button>

            
            
            
            
            
            </form>
        </div>
    </main>
    </body>
    </html>