<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width">
    <title>Signup</title>
    <link rel="stylesheet" href="style.css">
</head>


<body>

    <header>
        <h1>SIGNUP FOR GYM</h1>
        <nav>
            <ul>
                <li><a href="/">Home</a></li>
                <li><a href="/login">Login</a></li>

            </ul>
        </nav>
    </header>



    <main>
        <div class="signup-form" id="signup-form">
            <form action="/signup" method="POST">
            <label for="username">Username</label>
            <input type="text"  id="username" name="username">


            <label for="password">Password</label>
            <input type="password" id="password" name="password">

            <label for="membership">Membership:</label>
            <select id="membership" name="membership">
                <option value="Bronze">Bronze</option>
                <option value="Silver">Silver</option>
                <option value="Gold">Gold</option>
            </select>

            <button type="submit">Signup!</button>

            
            
            
            
            
            </form>
        </div>
    </main>








    <script src="https://cdnjs.cloudflare.com/ajax/libs/handlebars.js/4.7.7/handlebars.min.js"></script>

     <script id="signup-template" type="text/x-handlebars-template">
   <form action="/signup" method="POST" id="signup-form">
            <label for="username">Username</label>
            <input type="text"  id="username" name="username">


            <label for="password">Password</label>
            <input type="password" id="password" name="password">

            <label for="membership">Membership:</label>
            <select id="membership" name="membership">
                <option value="Bronze">Bronze</option>
                <option value="Silver">Silver</option>
                <option value="Gold">Gold</option>
            </select>

            <button type="submit">Signup!</button>
</form>
</script>
    
    
    <script>
        document.addEventListener("DOMContentLoaded", function () {
            var source = document.getElementById("signup-template").innerHTML;
            var template = Handlebars.compile(source);
            document.getElementById("signup-form").innerHTML = template();
            
        });
    </script>
    
    
    
    </body>
    </html>



