<html lang="en">

    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width" >
        <title>login to {{siteTitle}}</title>
        <link rel="stylesheet" href="style.css">
    </head>
    <body>
        <header>
            <h1>Login to {{siteTitle}}</h1>
            <nav>
                <ul>
                    
                <li><a href="/">Home</a></li>
                <li><a href="/signup">Signup</a></li>
            
                </ul>
            </nav>
        </header>
           <main>
        <div class="login-form">
            <form action="/login" method="POST">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>

                <button type="submit">Login</button>
            </form>
        </div>
    </main>
</body>

</html>
    </body>
</html>