
<main>
    <div class="signup-form" id="signup-form">
        <form action="/signup">
            <label for="username">Username</label>
            <input type="text"  id="username" name="username">


            <label for="password">Password</label>
            <input type="password" id="password" name="password">

            <label for="membership">Membership:</label>
            <select id="membership" name="membership">
                <option value="Bronze">Bronze</option>
                <option value="Silver">Silver</option>
                <option value="Gold">Gold</option>
            </select>

            <button type="submit">Signup!</button>
        </form>
    </div>
</main>








    