<main>
    <h2>Membership Tiers</h2>
    <div class="tier">
        <h3>Tier 1</h3>
        <h4>Bronze</h4>
        <p>access to gym floor</p>
        <p>10</p>
    </div>
    
    <div class="tier">
        <h3>Tier 2</h3>
        <h4>Silver</h4>
        <p>access to gym floor</p>
        <p>15</p>
    </div>

    <div class="tier">
        <h3>Tier 3</h3>
        <h4>Gold</h4>
        <p>access to gym floor</p>
        <p>10</p>
    </div>

</main>