<main>
    <h2>Membership Tiers</h2>
    <form action="/process-membership" method="post">
    <label for="tier">Please select an option:</label>
     <select id="membership-tier" name="membershipTier">
    <option value="basic">Basic Membership ($10/month)</option>
    <option value="premium">Premium Membership ($30/month)</option>
    <option value="pro">Pro Membership ($60/month)</option>
    </select>

    <button type="confirm">Confirm</button>
</form>

</main>