<main>
    <h2>Membership Tiers</h2>
    {{#each tiers as |tier|}}
    <div class="tier">
        <h3>{{tier.name}}</h3>
        <h4>{{tier.services}}</h4>
        <p>{{tier.description}}</p>
        <p>{{tier.price}}</p>
    </div>
    {{/each}}
</main>